@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-pastel-pink: #ffcdd2;
  --color-pastel-purple: #e1bee7;
  --color-pastel-blue: #bbdefb;
  --color-pastel-green: #c8e6c9;
  --color-pastel-yellow: #fff9c4;
  --color-retro-yellow: #FFE800;
  --color-retro-pink: #FF00FF;
  --color-retro-cyan: #00FFFF;
  --color-retro-green: #00FF00;
  --color-retro-orange: #FF8B00;
  --color-retro-purple: #9D00FF;

  --background-image-retro-grid: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);

  --animate-wiggle: wiggle 1s ease-in-out infinite;
}

@keyframes wiggle {
  0%, 100% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
}
