---
export interface Props {
  title: string;
  url: string;
  icon?: string;
}

const { title, url, icon } = Astro.props;
---

<a
  href={url}
  target="_blank"
  rel="noopener noreferrer"
  class="block w-full bg-white shadow-md rounded-lg overflow-hidden hover:shadow-lg transition duration-300 border-solid border-2 border-slate-950 py-3 px-4 text-center"
>
  {icon && <i class={`fas fa-${icon} mr-2`}></i>}
  {title}
</a>
