---
import config from '../../config.js';
import { Image } from 'astro:assets';
---

<div class="text-center">
  <Image
    src={config.user.profileImage}
    alt={config.user.name}
    width={64}
    height={64}
    class="w-36 h-36 rounded-full mx-auto mb-4 shadow-sm border-solid border-2 border-red-300"
  />
  <h1 class="text-4xl font-extrabold tracking-wide">{config.user.name}</h1>
  <p class="text-gray-700 front-semibold tracking-wide">{config.user.bio}</p>
</div>
